/* 1. large screen,
 modal max-width 200px */
@media screen and (min-width: 900px) {
  .ModalVideo {
    max-width: 200px;
    left: calc(50% - 100px);
  }
}

/* 2. medium screen, 
modal about 80% screen width */
@media screen and (min-width: 475px) and (max-width: 900px) {
  .ModalVideo {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
  }
}

/* 3. mobile screen, 
modal full width */
@media screen and (max-width: 475px) {
  .ModalVideo {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
